/*---------------Frame Styles start------------*/
.frame {
	display: block;
	margin: 5px;
	min-height: 200px;
	background-color: lightblue;
	border: 1px solid darkorange;
	border-radius: 10px;
}

.frame-header {
	display: block;
	text-align: center;
	margin: 5px;
	color: gray;
	font-size: 40px;
	color: black;
}

.frame-content {
	display: flex;
	margin: 5px;
}
/*---------------Frame Styles end------------*/

/*---------------Block Styles start------------*/
.block {
	display: block;
	margin: 10px 20px;
	padding: 10px;
	text-align: center;
	width: 350px;
	min-height: 100px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

.block:hover {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid gray;
}
/*---------------Block Styles end------------*/