/* body tag attributes */
body {
	background-image:url("../assets/backGround.jpg");
	background-attachment: fixed;
}

/* page layout attributes */
.page {
	margin: 50px auto;
	width: 100%;
	background-color: rgba(0,0,0,0);
	border: 1px solid #AAB7B8;
	border-radius: 10px;
}

.header{
	display: block;
	margin: 5px;
	min-height: 300px;
	background-color: rgba(255,255,0,0.6);
	border: 1px solid darkorange;
	border-radius: 10px;
}

.siteTitle{
	text-align:center;
	margin-top: 80px;
	font-size: 70px;
	color: black;
}
