.venue-select{
    margin: auto;
    padding: 20px;
    width: 50%;
    background-color: rgba(255,255,255,0.8) ;
    border: 2px solid gray;
    box-sizing: border-box;
}

input:not([type=submit]){
    display: block;
    margin: auto;
    height: 60px;
    width: 80%;
    padding: 10px 10px 10px 10px;   
    background-color: white;
    border:1px solid  gray;
    box-sizing: border-box;
}
input[type=submit]{
    display: block;
    margin: auto;
    height: 60px;
    width: 80%;
    padding: 10px 10px 10px 10px;   
    background-color: green;
    border:1px solid white;
    box-sizing: border-box;
    font-size: 1.1vw;
    color: white;
}

input[type=submit]:hover{
    background-color: yellow;
}
lable{
    display: block;
    margin: auto;
    height: 20%;
    width: 80%;
    padding: 5px;
    font-size: 1.5vw;
}



/* frame attributes */
.frame {
	display: block;
	margin: 5px;
	/*height: 100px;*/
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 10px;
}

.frame-header {
	display: block;
	margin: auto;
	color: gray;
	font-size: 24px;
	font-weight: bold;
    padding: 5px;
}

.frame-content {
	
	margin: auto;
    width: 100%;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* block attributes */
.block {
	display: inline-block;
    margin: auto;
	width: 30%;
    height: 300px;
	background-color: rgba(255,255,0,0.5);
	border: 1px solid orange;
	border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#venue{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;

}